*{
    margin: 0;
    padding: 0;
}

body{
    background: #9796f0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, , #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items:center ;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center ;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
    font-size: 8vmin;
    background-color: #9ff9ff93;
    color: rgb(0, 0, 0);

}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;

}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}
#msg{
    color: #81f7ff97;
    font-size: 4rem;
    font-weight: bolder;
    
}
.msg-container{
    height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
.hide{
    display: none;
}
